.circle {
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    margin: 0 auto;
    display: block;
    height: 250px;
    width: 250px;
    border: 8px solid $teal;
    color: black;
    background-color: #fefefe;
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
    .step {
      margin-top: 25px;
      font-size: 3em;
      display:block;
    }
}


.circle1 {}

.circle2 {}

.circle3 {}
